@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

* {
    font-family: "Blinker", sans-serif;
  
  }

.footer{
  width: 99%;
  height: 8%;
  background-color: palevioletred;
  display: grid;
  align-content: center;
}

.footer > * {
  padding-left: 2rem;
}