@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

* {
    font-family: "Blinker", sans-serif;
  
  }

.planetas {
    position: absolute;
    top:22%;
    left: 16%;
    border-style: solid;
    height:70%;
    width: 83.5%;
}


li {
  margin-top:3px ;
  margin-left: 2rem;
  width: 100%;
  display: block;
  transition: background .3s ease-in-out;   
}

  .botaoMenu {
    -moz-box-shadow:inset 0px 1px 0px 50px #a968e6;
    -webkit-box-shadow:inset 0px 1px 0px 50px #a968e6;
    box-shadow:inset 0px 1px 0px 50px #a968e6;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7822c9), color-stop(1, #7811d9) );
    background:-moz-linear-gradient( center top, #7822c9 5%, #7811d9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7822c9', endColorstr='#7811d9');
    background-color:#7822c9;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0px;
    border:2px solid #8a2be2;
    display:inline-block;
    color:#7811d9;
    font-family:Blinker;
    font-size:16px;
    font-weight:normal;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:120px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 40px #7811d9;
  position: relative;
   left: -16px;
   top: 75px;
  }
  .botaoMenu:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7811d9), color-stop(1, #7822c9) );
    background:-moz-linear-gradient( center top, #7811d9 5%, #7822c9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7811d9', endColorstr='#7822c9');
    background-color:#7811d9;
  }.botaoMenu:active {
    position: relative;;
    top:76px;
    
  }
  
