@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

* {
    font-family: "Blinker", sans-serif;
  
  }

  .nebulosas > * {
    margin-top: 1rem;
}
.nebulosas {
    position: absolute;
    top:22%;
    left: 16%;
    border-style: solid;
    height:70%;
    width: 83.5%;
}

li {
    margin-left: 3%;
}