@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

* {
    font-family: "Blinker", sans-serif;
  
  }
.info-planetas {
    position: absolute;
    top:22%;
    left: 16%;
    border-style: solid;
    height:70%;
    width: 83.5%;
}

.info-planetas > * {
  margin-left: 3rem;
}

img {
  position: absolute;
  border-style: solid;
  max-width: 30%;
}